@tailwind base;

/* Write your own custom base styles here */

@font-face {
  font-family: 'URWGeometric';
  src: url('/fonts/URWGeometric/URWGeometric-Regular.woff2') format('woff2'),
    url('/fonts/URWGeometric/URWGeometric-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'URWGeometric';
  src: url('/fonts/URWGeometric/URWGeometric-Medium.woff2') format('woff2'),
    url('/fonts/URWGeometric/URWGeometric-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'URWGeometric';
  src: url('/fonts/URWGeometric/URWGeometric-Bold.woff2') format('woff2'),
    url('/fonts/URWGeometric/URWGeometric-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'URWGeometric';
  src: url('/fonts/URWGeometric/URWGeometric-ExtraBold.woff2') format('woff2'),
    url('/fonts/URWGeometric/URWGeometric-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@layer base {
  body {
    @apply font-sans text-base text-black bg-white antialiased leading-tight;
  }

  a[target='_blank']:after {
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
    margin: 0 3px 0 5px;
    color: currentColor;
  }

  p + p {
    @apply mt-6;
  }
}

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

@layer components {
  .btn {
    @apply inline-flex items-center px-8 transition duration-200 ease-in-out font-semibold rounded-full;
    height: 40px;
  }
  .btn-default {
    @apply bg-black text-white hover:bg-grey-light focus:bg-grey-light;
  }

  .btn-primary {
    @apply bg-turquoiseBlue text-black hover:bg-shamrock focus:bg-shamrock;
  }

  .link {
    @apply underline transition duration-200;
  }

  .navbar {
    @apply bg-black text-white text-lg;
  }
  .navbar--inner {
    @apply h-navbar flex items-center justify-center md:justify-between;
  }

  .banner {
    @apply flex-row flex items-center justify-center bg-black text-white bg-no-repeat bg-top;

    height: 220px;
    background-image: url('/assets/lego.svg');
    background-position: center 20px;
  }

  .hero-post {
    heigth: auto;
  }

  .avatar {
    @apply w-16 h-16 mr-4 block relative;
  }
  .avatar img {
    @apply w-16 h-16 rounded-full relative;
  }

  /*
  .avatar::before {
    content: '';
    @apply block w-16 h-16 bg-turquoiseBlue rounded-full absolute top-1 left-1 z-0;
  } */

  .cookie-banner {
    @apply bg-purple-light fixed flex flex-wrap items-center text-white p-8 z-50 rounded-xl shadow-sm;
    min-height: 80px;
    margin: 0.25rem;
    bottom: 0;
    right: 0;
    max-width: 320px;
  }

  @screen md {
    .banner {
      height: 420px;
      padding-bottom: 130px;
      margin-bottom: -130px;
    }
    .hero-post {
      min-height: 260px;
    }
    .cookie-banner {
      right: 3rem;
      bottom: 3rem;
    }
  }
  @screen lg {
    .banner {
      height: 470px;
      padding-bottom: 180px;
      margin-bottom: -180px;
    }
    .hero-post {
      height: 425px;
    }
  }
  @screen xl {
    .banner {
      height: 500px;
      padding-bottom: 212px;
      margin-bottom: -212px;
    }
    .hero-post {
      height: 425px;
    }
  }
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */

.markdown {
  @apply leading-relaxed text-lg;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  @apply my-6;
}

.markdown h2 {
  @apply text-3xl mt-12 mb-4 font-bold leading-snug;
}

.markdown h3 {
  @apply text-2xl mt-8 mb-4 leading-snug;
}

.markdown ul,
.markdown ol {
  @apply pl-6;
}
.markdown ul li {
  list-style: disc;
}
.markdown ul li::marker,
.markdown ol li::marker {
}

.markdown ol li {
  list-style: decimal;
}

.markdown a {
  @apply text-purple-light underline transition duration-200 hover:text-opacity-70;
  text-decoration-color: currentColor;
  text-decoration-thickness: 0.125em;
  text-underline-offset: 1px;
  text-decoration-style: dotted;
}

.markdown code:not(pre *) {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;

  @apply bg-grey-medium bg-opacity-50 px-1 text-base;
}

.markdown blockquote {
  @apply px-4 py-2 border-2 border-purple-light border-dashed rounded-xl;
}
