@tailwind base;

/* Write your own custom base styles here */

@layer base {
  body {
    @apply font-sans text-base text-black bg-white antialiased leading-tight;
  }

  a[target='_blank']:after {
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
    margin: 0 3px 0 5px;
    color: currentColor;
  }

  p + p {
    @apply mt-6;
  }
}

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

@layer components {
  .btn {
    @apply py-2 px-6 transition duration-200 ease-in-out font-semibold rounded-full;
  }
  .btn-default {
    @apply bg-grey-medium text-black hover:bg-grey-light focus:bg-grey-light;
  }

  .btn-primary {
    @apply bg-turquoiseBlue-medium text-black hover:bg-turquoiseBlue-light focus:bg-turquoiseBlue-light;
  }

  .link {
    @apply underline transition duration-200;
  }

  .navbar {
    @apply bg-purple-darker text-white;
  }
  .navbar--inner {
    @apply h-navbar flex items-center;
  }

  .avatar {
    @apply w-16 h-16 mr-4 block relative;
  }
  .avatar img {
    @apply w-16 h-16 rounded-full relative;
  }

  .avatar::before {
    content: '';
    @apply block w-16 h-16 bg-turquoiseBlue-light rounded-full absolute top-1 left-1 z-0;
  }

  .cookie-banner {
    @apply bg-yellow fixed flex flex-wrap items-center text-black p-8 z-50 rounded-xl shadow-sm;
    min-height: 80px;
    right: 3rem;
    bottom: 3rem;
    width: 320px;
  }
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
